/* =======[ Começo estilização ]======= */

main {
    margin-left: 6rem;
    margin-right: 6rem;
}

.about-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65rem;
    padding-top: 5rem;
}

.image-website {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin-left: 0.75rem;
}

.padding-images-project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.padding-images-project img {
    width: 45rem;
    object-fit: contain;
    border-radius: 2px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.padding-images-project {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.about-project-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-right: 0.75rem;
}

.about-project-content h1 {
    font-size: 2.625rem;
    color: #0f141e;
    font-weight: 700;
    text-shadow: 2px 2px 4px #0f141e20;
    animation: h1-project 0.4s forwards ease-in-out;
    animation-delay: 0.8s;
    visibility: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.about-project-content h2 {
    font-size: 1.375rem;
    color: #0f141e;
    font-weight: 600;
    text-shadow: 2px 2px 4px #0f141e20;
    animation: h1-project 0.4s forwards ease-in-out;
    animation-delay: 1.3s;
    padding-bottom: 1.5rem;
    visibility: hidden;
}

.about-details-project p {
    font-size: 1.125rem;
    color: #0f141e;
    text-align: justify;
    text-shadow: 2px 2px 4px #0f141e20;
    font-weight: 400;
    animation: name-p-project 0.8s forwards ease-in-out;
    animation-delay: 1s;
    visibility: hidden;
}

#padding-details-project {
    padding-bottom: 1rem;
}

#padding-h3-project {
    padding-top: 1rem;
}

.about-details-project h3 {
    font-size: 1.125rem;
    color: #0f141e;
    font-weight: 700;
    text-shadow: 2px 2px 4px #0f141e20;
    animation: name-p-project 0.4s forwards ease-in-out;
    animation-delay: 1.8s;
    padding-bottom: 1rem;
    visibility: hidden;
}

.about-details-project ul {
    list-style-type: none;
}

.about-details-project ul li {
    font-size: 1.125rem;
    color: #0f141e;
    text-align: justify;
    text-shadow: 2px 2px 4px #0f141e20;
    font-weight: 400;
    padding-bottom: 0.25rem;
}

.about-details-project ul li:nth-child(1) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 1.8s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(2) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 2.2s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(3) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 2.6s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(4) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 3s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(5) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 3.4s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(6) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 3.8s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(7) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 4.2s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(8) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 4.6s;
    visibility: hidden;
}

.about-details-project ul li:nth-child(9) {
    animation: name-list-project 0.4s both ease alternate;
    animation-delay: 5s;
    visibility: hidden;
}

.sec-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.grid-text-project {
    display: grid;
    column-gap: 2rem;
    row-gap: 1.5rem;
    place-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
}

#title-padding-top {
    padding-top: 2rem;
}

#last-child-padding {
    padding-bottom: 2rem;
}
/* =======[ Fim estilização ]======= */

/* =======[ começo animações ]======= */

@keyframes h1-project {
    from {
        position: relative;
        top: 1rem;
        opacity: 0.1;
    }
    to {
        position: relative;
        top: 0rem;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes name-p-project {
    from {
        position: relative;
        top: -1rem;
        opacity: 0.1;
    }
    to {
        position: relative;
        top: 0rem;
        opacity: 1;
        visibility: visible;
    }
}

@keyframes name-list-project {
    from {
        position: relative;
        right: 2rem;
        opacity: 0.1;
    }
    to {
        position: relative;
        right: 0rem;
        opacity: 1;
        visibility: visible;
    }
}
/* =======[ fim animações ]======= */

/* =======[ Começo responsividade ]======= */

@media(max-width: 1600px) {
    main {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 1485px) {
    .padding-images-project img {
        width: 35rem;
    }
}

@media (max-width: 1200px) {
    .about-project {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 8rem;
    }
    .padding-images-project img {
        width: 100%;
    }
    .image-website {
        width: 100%;
        margin-left: 0rem;
    }
    .about-project-content {
        width: 100%;
        margin-right: 0rem;
    }
    .image-website {
        flex-direction: row;
    }
    #title-padding-top {
        padding-top: 2rem;
    }
}

@media (max-width: 950px) {
    .image-website {
        flex-direction: column;
    }
    .grid-text-project {
        display: grid;
        column-gap: 0rem;
        row-gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media(max-width: 530px) {
    main {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .about-project {
        padding-top: 5rem;
    }
    .about-project-content h1 {
        font-size: 2.25rem;
    }
    .about-project-content h2 {
        font-size: 1.25rem;
    }
    .about-details-project p {
        font-size: 1rem;
    }
    .about-details-project h3 {
        font-size: 1rem;
    }
    .about-details-project ul li {
        font-size: 1rem;
        font-weight: 400;
    }
}

@media(max-width: 350px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .about-project-content h1 {
        font-size: 1.75rem;
    }
    .about-project-content h2 {
        font-size: 1rem;
    }
    .about-details-project p {
        font-size: 0.875rem;
    }
    .about-details-project h3 {
        font-size: 0.875rem;
    }
    .about-details-project ul li {
        font-size: 0.875rem;
        font-weight: 400;
    }
}

/* =======[ fim responsividade ]======= */