* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f3;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
    /* height: 10px; */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.75);
    border-radius: 8px;
}